* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #010114;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.header {
    // max-width: 1440px;
    height: 1024px;
    background-image: url(img/backgr-phone.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.big-text {
    font-weight: 700;
}

.heading {
    display: flex;
    flex-direction: column;
    height: 1024;

    &__header {
        padding-top: 218px;
    }

    &__main-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #FFF;
        font-size: 64px;
        font-weight: 700;
        padding-bottom: 32px;
        max-width: 750px;
    }

    &__description {
        color: #FFF;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 32px;
    }

    &__link {
        max-width: 234px;
        margin-top: 44px;
        border-radius: 30px;
        background: #9C0332;
        transition: all 0.5s;

        :hover {
            transform: scale(1.02);
            background-color: #191970;
            border-radius: 30px;
            cursor: url("img/cursor.png"), pointer;
        }
    }

    &__menu_mobile {
        display: none;

    }
}

.heading__link-start {
    width: 234px;
    border-radius: 30px;
    justify-content: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 36px;
    text-decoration: none;
    padding-top: 5px;
    font-family: inherit;
    display: flex;
    background-color: #9C0332;
    color: #FFF;
}

.choice {
    // padding-top: 440px;
    border: transparent;
}

.select-game {
    height: 556px;
    background: #000915;
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: center;

    &__choice1 {
        width: 45%;
        display: flex;
        // max-width: 378px;
        flex-direction: row;
        row-gap: 32px;
        height: 300px;
        border-radius: 16px;
        background-image: url(img/game1.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        align-items: flex-end;
        padding-bottom: 20px;
        box-sizing: border-box;
        color: #FFF;
        text-decoration: none;
        font-size: 20px;
        font-weight: 600;
        // padding-left: 32px;
        padding-left: 20px;
        transition: all 0.5s;

        &:hover {
            transform: scale(1.02);
            background-color: #191970;
            border: 3px solid #44D2FF;
        }
    }

    &__choice2 {
        display: flex;
        flex-direction: row;
        row-gap: 32px;
        height: 300px;
        // max-width: 378px;
        width: 45%;
        border-radius: 16px;
        background-image: url(img/game2.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        align-items: flex-end;
        padding-bottom: 20px;
        box-sizing: border-box;
        color: #FFF;
        text-decoration: none;
        font-size: 20px;
        font-weight: 600;
        // padding-left: 32px;
        padding-left: 20px;
        transition: all 0.5s;

        &:hover {
            transform: scale(1.02);
            background-color: #191970;
            border: 3px solid #44D2FF;
        }
    }

    &__choice3 {
        display: flex;
        flex-direction: row;
        row-gap: 32px;
        width: 45%;
        // max-width: 378px;
        height: 300px;
        border-radius: 16px;
        background-image: url(img/game3.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        align-items: flex-end;
        padding-bottom: 20px;
        box-sizing: border-box;
        color: #FFF;
        text-decoration: none;
        font-size: 20px;
        font-weight: 600;
        // padding-left: 32px;
        padding-left: 20px;
        transition: all 0.5s;

        &:hover {
            transform: scale(1.02);
            background-color: #191970;
            border: 3px solid #44D2FF;
        }
    }
}

.seasons {
    background: #000915;
    display: flex;
    // height: 800px;
    height: 320px;
    justify-content: space-between;
    padding-top: 80px;

    &__description-seasons {
        // max-width: 584px;
        // width: 100%;
        // padding-right: 190px;
        // padding-top: 242px;
        font-size: 44px;
        font-style: normal;
        font-weight: 700;
        line-height: 12px;
    }

    &__caption {
        color: #FFF;
        font-size: 44px;
        font-style: normal;
        font-weight: 700;
        line-height: 48px;
        padding-top: 80px;
        margin-bottom: 32px;
    }

    &__heading__description {
        color: #FFF;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 32px;
    }

    &__heading__desc-mob {
        display: none;
    }

    // &__image {
    //     // display: flex;
    //     // width: 100%;
    //     // flex-direction: column;
    //     // justify-content: center;
    //     // align-items: flex-start;
    // }
}

.remember {
    background: #000915;
    display: flex;
    height: 800px;

    &__description-remember {
        max-width: 588px;
        width: 100%;
        padding-left: 78px;
        padding-top: 242px;
        font-size: 44px;
        font-style: normal;
        font-weight: 700;
        line-height: 12px;
    }

    &__title {
        color: #FFF;
        font-size: 44px;
        font-style: normal;
        font-weight: 700;
        line-height: 48px;
        padding-top: 80px;
        margin-bottom: 32px;

    }

    &__heading__description {
        color: #FFF;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 32px;
    }

    &__heading__desc-mob {
        display: none;
    }

    &__image-reverse {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        box-direction: row-reverse;
    }
}

.riddle-game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 800px;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('img/game-phone.jpg');

    &__title {
        color: #FFF;
        font-size: 44px;
        font-style: normal;
        font-weight: 700;
        line-height: 48px;
        padding-top: 80px;
        margin-bottom: 32px;
        display: flex;
        justify-content: center;
    }

    &__description-riddle {
        // padding-left: 78px;
        // padding-top: 150px;
        font-size: 44px;
        font-style: normal;
        font-weight: 700;
        line-height: 12px;
        justify-content: center;
        display: flex;
        flex-direction: column;
        text-align-last: center;
    }

    &__description {
        color: white;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px;
        justify-content: center;
        display: flex;
        flex-direction: column;
        text-align-last: center;
    }

    &__heading__desc-mob {
        display: none;
    }
}

.riddle-game__link {
    max-width: 234px;
    margin-top: 44px;
    border-radius: 30px;
    background: #9C0332;
    transition: all 0.5s;
    margin-left: 480px;

    :hover {
        transform: scale(1.02);
        background-color: #191970;
        border-radius: 30px;
        cursor: url("img/cursor.png"), pointer;
    }
}

.riddle-game__link-start {
    width: 234px;
    background: #9C0332;
    border-radius: 30px;
    display: flex;
    color: #FFF;
    justify-content: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 36px;
    text-decoration: none;
    padding-top: 5px;
    font-family: inherit;

    &__link-start:hover {
        cursor: url("img/cursor.png"), pointer;
    }

}

.rules {
    height: 80px;
    text-align: center;
    color: #FFF;
    background-color: #000915;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.parametres-tablet {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.parametres-tablet-remember {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

@import 'mobile';